#description #amount #date #category{
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
  font-size: 14px;
  color: #F2F2F2;
}

.deleteBtn {
  width: 130px;
  position: absolute;
  right: -60px;
}

.editBtn {
  width: 130px;
  position: absolute;
  right: 12px;
}

.saveBtn {
  width: 130px;
  position: absolute;
  right: 84px;
}

#GridList {
  color: #F2F2F2;
  background-color: #eeb64f;
}

.editTransaction {
  width: 320px;
}

.menuItem {
  background-color: blue;
}

#description {

}

#amount {
  position: absolute;
  right: 55px;
}

#date {

}

#category {
  position: absolute;
  right: 50px;
}

#buttonField{
  height: 30px;
}