#description {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
  font-size: 14px;
}

#amount {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
  font-size: 14px;
}

#date {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
  font-size: 14px;
}

#category {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
  font-size: 14px;
}

.updateDeleteBtns {
  width: 130px;
  position: absolute;
  right: 0;
}

#GridList {
  color: #F29F05;
  background-color: #eeb64f;
}