.app {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-top: 55px;
  height: 100%;
  background-color: #333333;
  background-attachment: fixed;
  margin: -20px -8px -8px -8px;
}

#summaryDates {
  height: 30px;
}

/* from CategoriesView.js */
.editCatBtn {
  padding: 10px 0 0 10px;
}

.headingName {
  color: #f2f2f2b7;
  font-weight: 500;
  text-align: center;
}

.headDiv {
  height: 630px;
}
