#username {
  width: 40%;
  position: relative;
  left: 105.75px;
}

#password {
  width: 40%;
  position: relative;
  left: 105.75px;
}

.btn {
  position: absolute;
  left: 145px;
}

.formPanel {
  padding-top: 50px;
  height: 100vh;
}

.registerLogin {
  margin-top: 30px;
}

.login {
  padding-top: 5px;
}