/* first part of app title */
.nav-title1 {  
  font-size: 32px;
  font-weight: 300;
  text-align: center;
  color: #f29f05;
  position: absolute;
  left: 111px;
  margin-top: 5.5px;
}

/* second part of app title */
.nav-title2 {  
  font-size: 32px;
  font-weight: 400;
  text-align: center;
  color: #f2f2f2e1;
  position: absolute;
  left: 210px;
  margin-top: 5.5px;
}

/* takes link styling out of app title*/
a {
  text-decoration: none;
}

/* top bar around app title*/
.nav {
  background-color: #0f3809;
  box-shadow: 0 4px 15px 0 rgba(0,0,0,0.50);
  height: 50px;
  position: fixed;
  top: 0;
  left: 19px;
  width: 90%;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  z-index: 999;
}

/* logout button div in AccountView */
.nav-right {
  position: absolute;
    left: 138px;
}

