.nav-title {  
  font-size: 28px;
  font-weight: 400;
  text-align: center;
  color: #F29F05;
  position: absolute;
  left: 28%;
  right: 25%;
  margin-top: 8.5px;
}

a {
  text-decoration: none;
}
.nav {
  margin: 0;
  background-color: #587c52;
  overflow: hidden;
  border-radius: 2px;
  height: 50px;
}

.nav-link {
  float: left;
  color: #f2f2f2;
  background-color: #6CA663;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  background-color: #008183;
}

.nav-right {
  position: absolute;
    left: 145px;
}

