.nav-title1 {  
  font-size: 28px;
  font-weight: 300;
  text-align: center;
  color: #F29F05;
  position: absolute;
  left: 115px;
  margin-top: 8.5px;
}

.nav-title2 {  
  font-size: 28px;
  font-weight: 400;
  text-align: center;
  color: #f2f2f2e1;
  position: absolute;
  left: 202px;
  margin-top: 8.5px;
}

a {
  text-decoration: none;
}
.nav {
  background-color: #0f3809;
  box-shadow: 0 4px 15px 0 rgba(0,0,0,0.50);
  height: 50px;
  position: fixed;
  top: 0;
  left: 20px;
  width: 90%;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  z-index: 999;
}

.nav-right {
  position: absolute;
    left: 145px;
}

