#header {
  position: fixed;
  bottom: 0;
  transition: 0.2s;
  font: 30px;
}

#headerLarge {
  position: fixed;
  bottom: 0;
  transition: 0.2s;
  font: 90px;
}

.navBar {
position: absolute;
bottom: 0;
}

.navIcons {
  color: blue;
}